/*--------------------------------------------------------*/
/* Screen Styles                                          */

/*--------------------------------------------------------*/
/* Page Layout                                            */

html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    background: #efefef;
    height: 100%;
}
#page-header {
    margin: 0;
    padding: 0;
}
#page-header .navbar {
    margin: 0;
    padding: 0;
}
#page-header .navbar-inverse {
    margin: 0;
    padding: 0;
}
#page-header .navbar-inner {
    border-radius: 0;
    -webkit-border-radius: 0;
}
#page-header .form-inline {
    margin: 0;
    padding-top: 5px;
}
#search-bar {
    background: #efefef;
    border-bottom:1px solid #DEDEDE;
    height: 50px;
    margin: 0;
    padding: 0;
}
#search-bar form {
    margin: 10px 0 10px 0;
    padding: 0;
}
#search-box #query {
    font-weight: bold;
}
#content {
    background: white;
    margin: 0;
    padding-top: 20px;
}
#search-panel {
    min-width: 240px;
    overflow: hidden;
    padding-bottom: 20px;
}
#sidebar {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}
#footer {
    border-top: 1px solid #dedede;
    color: #666;
    font-size: small;
    min-height: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
}

/*--------------------------------------------------------*/
/* Branding                                               */

.brand-title {
    color: #ccc;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 10px 20px 10px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0,25);
}

/*--------------------------------------------------------*/
/* General Styles                                         */

a {
    cursor: pointer;
}
.clickable {
  cursor: hand;
}
.inset {
    padding-left: 20px;
    padding-right: 20px;
}
label {
    font-size: small;
}

/*--------------------------------------------------------*/
/* Search Results Graphics                                */

/*--------------------------------------------------------*/
/* Document Search Results                                */

.document-search-results {}
.document-search-results-pager {
    padding-top: 20px;
}
.reading-column {
    max-width: 512px;
}
.document {
    margin-bottom: 10px;
}
.document .country {
    color: #666;
    display: inline;
    font-size: small;
    font-style: italic;
    padding-right: 5px;
    padding-top: 3px;
}
.document .existdates {
    color: #666;
    display: inline;
    font-size: small;
    font-style: italic;
    padding-top: 3px;
}
.document .existdates:before {
  /* content: "Exist dates: "; */
}
.document .facets {
    color: #aaa;
    display: none;
    font-size: small;
}
.document .region {
    color: #666;
    display: inline;
    font-size: small;
    font-style: italic;
    padding-top: 3px;
}
.document .more {
    font-size: small;
}
.document .source {
    color: green;
    font-size: small;
}
.document .summary {
    font-size: small;
    line-height: 1.25em;
}
.document .summary em {
    background: yellow;
}
.document .text {
    font-size: small;
    line-height: 1.25em;
}
.document .text em {
    background: yellow;
}
.document .title {
    display: table;
    font-size: medium;
    font-weight: bold;
    text-decoration: underline;
}
.document .type {
    color: #999;
    font-size: small;
    font-style: italic;
}
.pagination ul > li > a {
    cursor: pointer;
}

/*--------------------------------------------------------*/
/* Location Based Search                                  */

#search-bar #location-search-bar {
    max-width: 640px;
    padding: 10px 20px 10px 0;
    padding-left: 320px;
}
.infowindow {
    max-width: 300px;
}
.infowindow .title {
    font-size: 1.2em;
    font-weight: bold;
}
.infowindow .address {
}
.infowindow .existdates {
    font-size: small;
    font-style: italic;
    padding-bottom: 5px;
}
.infowindow .type {
    font-size: small;
    font-style: italic;
    padding-bottom: 5px;
}
.infowindow .summary {

}
#map {
    bottom: 0;
    left: 320px;
    position: absolute;
    right: 0;
    top: 93px;
    z-index: 0;
}
#map img{
    max-width: none;
}

/*--------------------------------------------------------*/
/* Facet Panel                                            */

.facet-panel {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    list-style: none;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.facet-panel>li {
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 15px;
    padding-right: 8px;
}
.facet-panel>li a {
    cursor: pointer;
}
.facet-panel>li:first-child {
    color: #333;
    font-weight: bold;
}
.facet-panel>li:last-child {
    border-bottom: none;
}
/*.facet-panel .items li:hover:after {
    content: " remove";
    font-style: italic;
}*/
.facet-panel .fieldname {
    font-weight: bold;
}
.facet-panel .facet-name {
    font-size: small;
}
.facet-panel .facet-score {
    color: #666;
    font-size: small;
}



.year-input {
    width: auto;
}

/*--------------------------------------------------------*/
/* Sidebar Panel                                          */

#sidebar {
    background: white;
    position: absolute;
    z-index: 100;
}

/*--------------------------------------------------------*/
/* Graphics Panel                                         */

.chart div {
   font: 10px sans-serif;
   background-color: #ddd;
   text-align: right;
   padding: 3px;
   margin: 1px;
   color: white;
}
.chart div:hover {
    background-color: steelblue;
}

/*--------------------------------------------------------*/
/* Other Styles                                           */

.column-240 {
  /* max-width: 240px; */
}
.column-320 {
  max-width: 320px;
  overflow: hidden;
}
.column-512 {
  max-width: 512px;
  overflow: hidden;
}
.column-620 {
  max-width: 640px;
  overflow: hidden;
}
.text-medium {
    font-size: medium;
}
.text-small {
    font-size: small;
}
.text-xsmall {
    font-size: x-small;
}
