//-----------------------------------------------------------------------------
// ngSolr example page styles
//

//-----------------------------------------------------------------------------
// Variables

$body-background: #f5f5f5;
$content-background: white;
$header-background: white;
$header-color: #333;
$header-height: 56px;
$searchbar-background: whitesmoke;
$spacing: 20px;

//-----------------------------------------------------------------------------
// Global Defaults, Mixins

body {
  background: $body-background;
}
div {
  box-sizing: border-box;
}
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

//-----------------------------------------------------------------------------

#header {
  background: $header-background;
  box-shadow: 0 4px 6px rgba(50,50,50,0.35);
  color: $header-color;
  font-weight: bold;
  height: $header-height;
  overflow: hidden;
  padding: 0;
}
#header div {
  @include vertical-align;
}
#searchbar {
  border-bottom:1px solid #DEDEDE;
  padding: $spacing 0 $spacing 0;
}
#searchbox input[type=text] {
  border: solid 1px #BFBDBD;
  margin: 0;
  padding: 7px;
  width: 400px;
}
#searchbox #submit {
  display: none;
}
#searchbox #hints {
  background: white;
  border: 1px solid #ccc;
  margin-right: 22px;
  position: absolute;
  z-index: 1;
  /*
  box-shadow: 0 1px 3px 0 #aaa;
  -webkit-box-shadow: 0 2px 1px 0 #aaa;
  */
}
#searchbox #list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#searchbox #list li {
  cursor: default;
  margin: 0 0 2px 0;
  padding: 5px 10px 5px 10px;
}
#searchbox #list li:hover {
  background: #dedede;
}
#searchbox #list li.selected {
  background: #ddd;
  font-weight: bold;
}
#searchbox #message {
  color: #1a577a;
  font-weight: normal;
  padding: 7px 10px 7px 10px;
}
#content {
  background: white;
  padding-top: $spacing;
}
#footer {
  border-top: 1px solid #dedede;
  color: #666;
  font-size: small;
  min-height: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
}

/*--------------------------------------------------------*/
/* General Styles                                         */

a {
  cursor: default;
}
.clickable {
  cursor: hand;
}
.reading-column {
  max-width: 512px;
}
ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.inline li {
  display: inline;
  padding-right: $spacing;
}
ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.year-input {
  width: auto;
}

/*--------------------------------------------------------*/
/* Document Search Results                                */

.document {
  display: table;
  margin-bottom: 10px;
  width: 100%;
}
.document .country {
  display: inline;
}
.document .existdates {
  display: inline;
}
.document .existdates:before {
  display: inline;
}
.document .facets {
  color: #aaa;
  display: none;
  font-size: small;
}
.document .meta {
  color: #708090;
  display: inline;
  font-size: small;
  padding-top: 3px;
}
.document .region {
  display: inline;
}
.document .more {
  font-size: small;
}
.document .source {
  color: green;
  font-size: small;
}
.document .summary {
  font-size: small;
  line-height: 1.25em;
}
.document .summary em {
  background: yellow;
}
.document .text {
}
.document .text em {
  background: yellow;
}
.document .thumb {
  display: inline;
  float: right;
}
.document .title {
  display: table;
  font-size: medium;
  font-weight: bold;
}
.document .type {
  display: inline;
}

.search-results .loading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}
.search-results .summary {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0;
}
.search-results .pages {
  clear: both;
  display: block;
  margin: 0 0 5px 0;
  padding: 10px 0 10px 0;
}
.search-results .pages ul {
  background: none;
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.search-results .pages ul li {
  background: none;
  cursor: pointer;
  display: inline;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.search-results .pages ul li a {
  background: none;
  border: 1px solid #ddd;
  border-left: none;
  float: left;
  line-height: 20px;
  padding: 4px 12px 4px 12px;
  text-decoration: none;
}
.search-results .pages .iscurrent {
  color: #555;
  cursor: default;
}
.search-results .pages ul li:first-child a {
  border-left: 1px solid #ddd;
}

/*--------------------------------------------------------*/
/* Image Search Results                                   */

.image-grid-row {
  margin-bottom: 20px;
}

/*--------------------------------------------------------*/
/* Location Based Search                                  */

.infowindow {
  max-width: 300px;
}
.infowindow .title {
  font-size: 1.2em;
  font-weight: bold;
}
.infowindow .address {
  font-size: small;
  font-style: italic;
}
.infowindow .existdates {
  font-size: small;
  font-style: italic;
  padding-bottom: 5px;
}
.infowindow .type {
  font-size: small;
  font-style: italic;
  padding-bottom: 5px;
}
.infowindow .summary {

}
#map {
  bottom: 0;
  left: 320px;
  position: absolute;
  right: 0;
  top: 93px;
  z-index: 0;
}
#map img{
  max-width: none;
}

/*--------------------------------------------------------*/
/* Graphics Panel                                         */

.chart div {
  background-color: #ddd;
  color: white;
  font: 10px sans-serif;
  margin: 1px;
  padding: 3px;
  text-align: right;
}
.chart div:hover {
  background-color: steelblue;
}
