<!DOCTYPE html>
<html ng-app>
    <head>
        <title>Its just a test</title>
        <script src="service.js"></script>
        <script src="directive.js"></script>
        <script src="controller.js"></script>
    </head>
    <body ng-controller="CtrlA">

        <h1>A simple? search interface</h1>
        <p>
            I'm attempting to build a search interface with various visual representations of the 
            search results. Controllers are either for input, where they define the search query and
            its parameters, or for output, where they visualize the results.
        </p>

        <div ng-controller="CtrlB">
            <strong>CtrlB</strong>
            <p>This controller
            <form>
                <input ng-model="query"></input>
            </form>
        </div>

        <div ng-controller="CtrlC">
            <strong>CtrlC</strong>
            <p>This controller should be listening for updates on CtrlA, and then displaying results below.</p>
            <ul ng-repeat="item in items">
                <li>{{name}}</li>
            </ul>
        </div>

        <!-- scripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
