*~
*.min.css
*.gz
*.min.js
*.zip

.idea
app/css/simplesearch/simplesearch.min.css
app/img/icon
app/img/maki
app/img/mapiconscollection
app/js/simplesearch/simplesearch.min.js
lib/*
logs/*
node_modules/
scripts/npm*
tmp/
