<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="eac-search"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="eac-search"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="eac-search"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="eac-search-app"> <!--<![endif]-->
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <title>EAC-CPF Faceted Search Interface to Solr</title>
        <meta name="author" content="eScholarship Research Centre, University of Melbourne">
        <meta name="description" content="Web interface for faceted search of EAC collections in Solr.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57x57-precomposed.png" />
        <!-- Stylesheets -->
        <style>
            [ng-cloak] {display: none;}
        </style>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/datepicker.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/eac-search/screen.css" media="screen" />
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Scripts -->
        <script type="text/javascript" src="assets/js/jquery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="assets/js/buckets/buckets.min.js"></script>

        <script type="text/javascript" src="assets/js/angular/angular.js"></script>
        <script type="text/javascript" src="assets/js/eac-search/app.js"></script>
        <script type="text/javascript" src="assets/js/eac-search/ctrl.search.js"></script>
        <script type="text/javascript" src="assets/js/eac-search/ctrl.search.searchbox.js"></script>
        <script type="text/javascript" src="assets/js/eac-search/ctrl.search.history.js"></script>
        <script type="text/javascript" src="assets/js/eac-search/ctrl.facet.js"></script>
        <script type="text/javascript" src="assets/js/eac-search/ctrl.facet.selection.js"></script>

        <script type="text/javascript" src="assets/js/d3/d3.min.js"></script> 
        <script type="text/javascript" src="assets/js/d3/d3.layout.min.js"></script> 
        <script type="text/javascript" src="assets/js/rickshaw/rickshaw.min.js"></script> 
    </head>
    <body ng-controller="searchCtrl" ng-init="updateResults()">

        <!-- page-header -->
        <header id="page-header">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="#">EAC-CPF Search</a>
                        <div class="nav-collapse collapse">
                            <p class="navbar-text pull-right">
                                Logged in as <a href="#" class="navbar-link">Username</a>
                            </p>
                            <ul class="nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
               </div>
            </div>
        </header>
        <!-- /page-header -->

        <!-- search bar -->
        <section id="search-bar">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2 column-240">&nbsp;</div>
                    <div class="span5">
                        <form class="form-inline" ng-submit="updateResults()">
                            <div id="search-box" class="input-append" ng-controller="searchBoxCtrl">
                                <input type="text" id="query" name="q" ng-model="$parent.userQuery" ng-submit="$parent.updateResults()" placeholder="Enter keywords to search for" ui-items="getHints($parent.userQuery)" auto-complete autocomplete="off" style="width:380px" />
                                <button class="btn">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="span5">&nbsp;</div>
                </div>
            </div>
        </section>
        <!-- /search-bar -->

        <!-- content -->
        <section id="content">
            <div class="container-fluid">
                <div class="row-fluid">

                    <!-- search panel -->
                    <div id="search-panel" class="span2 column-240 bs-docs-sidebar">
                    
               			<ul class="facet-panel" ng-controller="facetSelectionCtrl" ng-init="watch($parent)" ng-show="facets">
                            <li><b>Filtering By</b></li>
             				<li ng-repeat="item in items">
                                <i class="icon-tag"></i> <a ng-click="remove($index)">{{item.fieldname}}</a>
                            </li>
               			</ul>

                       	<ul class="facet-panel" ng-controller="facetCtrl" ng-init="fieldname='function';update();">
                     		<li><b>Function</b></li>
                     		<li>
                       			<ul class="facets unstyled">
                     				<li ng-repeat="item in items" ng-show="items">
                                        <a href="#" ng-click="add($index)">{{item.name}}</a>
                                        ({{item.score}})
                                    </li>
                       			</ul>
                     		</li>
                       	</ul>
                           
                       	<ul class="facet-panel" ng-controller="facetCtrl" ng-init="fieldname='title';update();">
                     		<li><b>Location</b></li>
                     		<li>
                                <ul class="facets unstyled">
                                    <li ng-repeat="item in items" ng-show="items">
                                        <a href="#" ng-click="add($index)">{{item.name}}</a>
                                        ({{item.score}})
                                    </li>
                                </ul>
                           	</li>
                       	</ul>

                       	<ul class="facet-panel">
                    		<li><b>Dates</b></li>
                     		<li>
                                <div class="input-append date" id="fromDate" data-date-format="yyyy-mm-dd" data-date="2012-10-20">
                                    <input size="16" type="text" value="2012-10-20" style="min-width:120px;">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <div class="input-append date" id="toDate" data-date-format="yyyy-mm-dd" data-date="2012-10-20">
                                    <input size="16" type="text" value="2012-10-20" style="min-width:120px;">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </li>
                       	</ul>

                        <ul class="facet-panel" ng-controller="searchHistoryCtrl" ng-init="watch($parent)">
                            <li><b>Search History</b></li>
                            <li>
                                <ul class="unstyled">
                                    <li ng-repeat="query in queries">
                                        <a ng-href="{{query.url}}">{{query.userQuery}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="facet-panel">
                            <li>
                                <i class="icon-plus"></i> 
                                <a href="#" class="muted">Add Facet Panel</a>
                            </li>
                       	</ul>

                    </div>
                    <!-- /search panel -->
                    
                    <!-- result panel -->
                    <div id="result-panel" class="span5">
                        <div id="search-results" class="column-512" ng-cloak>
                            <div class="alert alert-error" ng-show="error">{{error}}</div>
                            <div class="alert alert-info" ng-show="message">{{message}}</div>
                            <article ng-repeat="doc in results" class="document">
                                <a href="{{doc.uri}}" class="title">{{doc.title[0]}}</a>
                                <a href="{{doc.uri}}" class="uri">{{doc.uri}}</a>
                                <div class="text">{{doc.text}}</div>
                                <div class="facets">
                                    <ul class="unstyled">
                                        <li><a href="#">Facet</a></li>
                                    </ul>
                                </div>
                                <div class="existdates">Sep. 2009 - Mar. 2012</div>
                            </article>
  	                    </div><!-- /search results -->
                        <div class="pagination" ng-hide="error">
  	                        <ul>
                                <li ng-repeat="page in pages" ng-class="{active : page.isActive, disabled: page.isDisabled}">
                                    <a id="page-{{page.number}}" ng-click="$parent.page=page.number;updateResults();" ng-href="#/page/{{page.number}}">{{page.name}}</a>
                                </li>
  	                        </ul>
                        </div><!-- /pagination -->
                    </div><!-- result panel, center column -->
                    
                    <!-- metadata panel -->
                    <div id="metadata-panel" class="span5">

                        <div class="column-320 pull-right">
                            <p>This is an optional metadata or document preview panel.</p>
                            <div id="graphics">

                            </div>
                            <table class="table table-hover table-condensed" style="width:100%">
                                <thead><tr><th>Option</th><th>Value</th></tr></thead>
                                <tbody>
                                    <tr><td>Fields</td><td>{{ fields }}</td></tr>
                                    <tr><td>Items Per Page</td><td>{{ itemsPerPage }}</td></tr>
                                    <tr><td>Max Result Score</td><td>{{ queryMaxScore }}</td></tr>
                                    <tr><td>Page (start)</td><td>{{ page }}</td></tr>
                                    <tr><td>Pages per Set</td><td>{{ pagesPerSet }}</td></tr>
                                    <tr><td>Query</td>
                                        <td><a ng-href="{{queryURL}}" target="_blank">{{ query }}</a></td>
                                    </tr>
                                    <tr><td>Query Time</td><td>{{ queryTime }}</td></tr>
                                    <tr><td>Total Items Found</td><td>{{ queryNumFound }}</td></tr>
                                    <tr><td>Total Pages</td><td>{{ totalPages }}</td></tr>
                                    <tr><td>Total Sets</td><td>{{ totalSets }}</td></tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /metadata panel -->
                    
            	</div><!-- /row -->
            </div><!-- /container -->
        </section>
        <!-- /content -->

        <!-- footer -->
        <footer id="footer">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2 column-240">&nbsp;</div>
                    <div class="span5">
                    	<div class="column-512">
	                        EAC-CPF faceted search interface to Apache Solr.
	                        A project of the 
	                        <a href="http://www.esrc.unimelb.edu.au/">eScholarship Research Centre</a>, University of Melbourne.
                        </div>
                    </div>
                    <div class="span5">&nbsp;</div>
                </div>
            </div>
        </footer><!-- /footer -->

        <!-- end of body scripts -->
        <script type="text/javascript">
            // calendar widget
            $('#fromDate').datepicker();
            $('#toDate').datepicker();
            // metadata graphic display
            var data = [40,35,32,29,24,16,9,2];
            var chart = d3.select("#graphics").append("div").attr("class","chart");
            chart.selectAll("div")
                .data(data)
                .enter()
                .append("div")
                .style("width", function(d) { return d * 5 + "px"; })
                .text(function(d) { return d; });
        </script>
    </body>
</html>
