/* line 19, ../sass/ngsolr.scss */
body {
  background: whitesmoke;
}

/* line 22, ../sass/ngsolr.scss */
div {
  box-sizing: border-box;
}

/* line 35, ../sass/ngsolr.scss */
#header {
  background: white;
  box-shadow: 0 4px 6px rgba(50, 50, 50, 0.35);
  color: #333333;
  font-weight: bold;
  height: 56px;
  overflow: hidden;
  padding: 0;
}

/* line 44, ../sass/ngsolr.scss */
#header div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

/* line 47, ../sass/ngsolr.scss */
#searchbar {
  border-bottom: 1px solid #DEDEDE;
  padding: 20px 0 20px 0;
}

/* line 51, ../sass/ngsolr.scss */
#searchbox input[type=text] {
  border: solid 1px #BFBDBD;
  margin: 0;
  padding: 7px;
  width: 400px;
}

/* line 57, ../sass/ngsolr.scss */
#searchbox #submit {
  display: none;
}

/* line 60, ../sass/ngsolr.scss */
#searchbox #hints {
  background: white;
  border: 1px solid #ccc;
  margin-right: 22px;
  position: absolute;
  z-index: 1;
  /*
  box-shadow: 0 1px 3px 0 #aaa;
  -webkit-box-shadow: 0 2px 1px 0 #aaa;
  */
}

/* line 71, ../sass/ngsolr.scss */
#searchbox #list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 76, ../sass/ngsolr.scss */
#searchbox #list li {
  cursor: default;
  margin: 0 0 2px 0;
  padding: 5px 10px 5px 10px;
}

/* line 81, ../sass/ngsolr.scss */
#searchbox #list li:hover {
  background: #dedede;
}

/* line 84, ../sass/ngsolr.scss */
#searchbox #list li.selected {
  background: #ddd;
  font-weight: bold;
}

/* line 88, ../sass/ngsolr.scss */
#searchbox #message {
  color: #1a577a;
  font-weight: normal;
  padding: 7px 10px 7px 10px;
}

/* line 93, ../sass/ngsolr.scss */
#content {
  background: white;
  padding-top: 20px;
}

/* line 97, ../sass/ngsolr.scss */
#footer {
  border-top: 1px solid #dedede;
  color: #666;
  font-size: small;
  min-height: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
}

/*--------------------------------------------------------*/
/* General Styles                                         */
/* line 109, ../sass/ngsolr.scss */
a {
  cursor: default;
}

/* line 112, ../sass/ngsolr.scss */
.clickable {
  cursor: hand;
}

/* line 115, ../sass/ngsolr.scss */
.reading-column {
  max-width: 512px;
}

/* line 118, ../sass/ngsolr.scss */
ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 123, ../sass/ngsolr.scss */
ul.inline li {
  display: inline;
  padding-right: 20px;
}

/* line 127, ../sass/ngsolr.scss */
ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 132, ../sass/ngsolr.scss */
.year-input {
  width: auto;
}

/*--------------------------------------------------------*/
/* Document Search Results                                */
/* line 139, ../sass/ngsolr.scss */
.document {
  display: table;
  margin-bottom: 10px;
  width: 100%;
}

/* line 144, ../sass/ngsolr.scss */
.document .country {
  display: inline;
}

/* line 147, ../sass/ngsolr.scss */
.document .existdates {
  display: inline;
}

/* line 150, ../sass/ngsolr.scss */
.document .existdates:before {
  display: inline;
}

/* line 153, ../sass/ngsolr.scss */
.document .facets {
  color: #aaa;
  display: none;
  font-size: small;
}

/* line 158, ../sass/ngsolr.scss */
.document .meta {
  color: #708090;
  display: inline;
  font-size: small;
  padding-top: 3px;
}

/* line 164, ../sass/ngsolr.scss */
.document .region {
  display: inline;
}

/* line 167, ../sass/ngsolr.scss */
.document .more {
  font-size: small;
}

/* line 170, ../sass/ngsolr.scss */
.document .source {
  color: green;
  font-size: small;
}

/* line 174, ../sass/ngsolr.scss */
.document .summary {
  font-size: small;
  line-height: 1.25em;
}

/* line 178, ../sass/ngsolr.scss */
.document .summary em {
  background: yellow;
}

/* line 183, ../sass/ngsolr.scss */
.document .text em {
  background: yellow;
}

/* line 186, ../sass/ngsolr.scss */
.document .thumb {
  display: inline;
  float: right;
}

/* line 190, ../sass/ngsolr.scss */
.document .title {
  display: table;
  font-size: medium;
  font-weight: bold;
}

/* line 195, ../sass/ngsolr.scss */
.document .type {
  display: inline;
}

/* line 199, ../sass/ngsolr.scss */
.search-results .loading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}

/* line 205, ../sass/ngsolr.scss */
.search-results .summary {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0;
}

/* line 211, ../sass/ngsolr.scss */
.search-results .pages {
  clear: both;
  display: block;
  margin: 0 0 5px 0;
  padding: 10px 0 10px 0;
}

/* line 217, ../sass/ngsolr.scss */
.search-results .pages ul {
  background: none;
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 224, ../sass/ngsolr.scss */
.search-results .pages ul li {
  background: none;
  cursor: pointer;
  display: inline;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

/* line 233, ../sass/ngsolr.scss */
.search-results .pages ul li a {
  background: none;
  border: 1px solid #ddd;
  border-left: none;
  float: left;
  line-height: 20px;
  padding: 4px 12px 4px 12px;
  text-decoration: none;
}

/* line 242, ../sass/ngsolr.scss */
.search-results .pages .iscurrent {
  color: #555;
  cursor: default;
}

/* line 246, ../sass/ngsolr.scss */
.search-results .pages ul li:first-child a {
  border-left: 1px solid #ddd;
}

/*--------------------------------------------------------*/
/* Image Search Results                                   */
/* line 253, ../sass/ngsolr.scss */
.image-grid-row {
  margin-bottom: 20px;
}

/*--------------------------------------------------------*/
/* Location Based Search                                  */
/* line 260, ../sass/ngsolr.scss */
.infowindow {
  max-width: 300px;
}

/* line 263, ../sass/ngsolr.scss */
.infowindow .title {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 267, ../sass/ngsolr.scss */
.infowindow .address {
  font-size: small;
  font-style: italic;
}

/* line 271, ../sass/ngsolr.scss */
.infowindow .existdates {
  font-size: small;
  font-style: italic;
  padding-bottom: 5px;
}

/* line 276, ../sass/ngsolr.scss */
.infowindow .type {
  font-size: small;
  font-style: italic;
  padding-bottom: 5px;
}

/* line 284, ../sass/ngsolr.scss */
#map {
  bottom: 0;
  left: 320px;
  position: absolute;
  right: 0;
  top: 93px;
  z-index: 0;
}

/* line 292, ../sass/ngsolr.scss */
#map img {
  max-width: none;
}

/*--------------------------------------------------------*/
/* Graphics Panel                                         */
/* line 299, ../sass/ngsolr.scss */
.chart div {
  background-color: #ddd;
  color: white;
  font: 10px sans-serif;
  margin: 1px;
  padding: 3px;
  text-align: right;
}

/* line 307, ../sass/ngsolr.scss */
.chart div:hover {
  background-color: steelblue;
}
