<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="eacajax"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="eacajax"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="eacajax"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="eacajax"> <!--<![endif]-->
    <head>
        <!-- meta -->
        <meta charset="utf-8">
        <title>EAC-CPF Search Interface</title>
        <meta name="author" content="eScholarship Research Centre, University of Melbourne">
        <meta name="description" content="Web interface for faceted search of EAC collections in Solr.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- icons -->
        <link rel="shortcut icon" href="../assets/ico/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57x57-precomposed.png" />
        <!-- stylesheets -->
        <style>
            [ng-cloak] {display: none;}
        </style>
        <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="../assets/css/eac-ajax/screen-location.css" media="screen" />

        <!-- scripts -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&sensor=true"></script>
        <script type="text/javascript" src="../assets/js/google/markerclusterer.js"></script>

        <script type="text/javascript" src="../assets/js/jquery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="../assets/js/angular/angular.js"></script>

        <script type="text/javascript" src="../assets/js/eac-ajax/Common.js"></script>
        <script type="text/javascript" src="../assets/js/eac-ajax/CollapsiblePanelController.js"></script>
        <script type="text/javascript" src="../assets/js/eac-ajax/MapMarkerService.js"></script>
        <script type="text/javascript" src="../assets/js/eac-ajax/MapController.js"></script>
        <script type="text/javascript" src="../assets/js/eac-ajax/MapSearchResultsController.js"></script>
        <script type="text/javascript" src="../assets/js/eac-ajax/SearchBoxController.js"></script>
        <script type="text/javascript" src="../assets/js/eac-ajax/SolrSearchService.js"></script>

        <script type="text/javascript" src="../assets/js/eac-ajax/directives.js"></script>
        <script type="text/javascript" src="../assets/js/eac-ajax/filters.js"></script>
        <script type="text/javascript" src="../assets/js/eac-ajax/app.js"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

        <!-- search bar -->
        <section id="search-bar">
            <form class="form-inline" ng-controller="SearchBoxController" ng-init="init()" ng-submit="submit()">
                <div id="search-box" class="input-append">
                    <input type="text" id="query" name="q" ng-model="userquery" placeholder="Enter keywords to search for" ui-items="getHints(userquery)" auto-complete autocomplete="off" style="width:380px" />
                    <button class="btn" ng-click="submit()">Search</button>
                </div>
            </form>
        </section>
        <!-- /search-bar -->

        <!-- content -->
        <section id="content">

            <!-- search panel -->
            <div id="search-panel" class="column-240 bs-docs-sidebar">
                Location facet controls go here.
                <br/>
                Location results go here.
            </div>
            <!-- /search panel -->

            <!-- result panel -->
            <div id="result-panel">
                <div id="map" ng-controller="MapController" ng-init="init()"></div>
            </div>
            <!-- result panel -->

        </section>

        <!-- scripts -->
    </body>
</html>
