<!DOCTYPE html>
<html class="no-js" ng-app="eacajax">
    <head>
        <!-- meta -->
        <meta charset="utf-8">
        <title>EAC-CPF Search Interface to Solr</title>
        <meta name="author" content="eScholarship Research Centre, University of Melbourne">
        <meta name="description" content="Web interface for faceted search of EAC collections in Solr.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- icons -->
        <link rel="shortcut icon" href="ico/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57x57-precomposed.png" />
        <!-- stylesheets -->
        <style>
            [ng-cloak] {display: none;}
        </style>
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="css/eac-ajax/screen.css" media="screen" />
        <!-- scripts -->
        <script type="text/javascript" src="js/jquery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="lib/angular/angular.min.js"></script>

        <script type="text/javascript" src="js/eac-ajax/directives.js"></script>
        <script type="text/javascript" src="js/eac-ajax/filters.js"></script>
        <script type="text/javascript" src="js/eac-ajax/DateFacetController.js"></script>
        <script type="text/javascript" src="js/eac-ajax/DocumentSearchResultsController.js"></script>
        <script type="text/javascript" src="js/eac-ajax/FacetSelectionController.js"></script>
        <script type="text/javascript" src="js/eac-ajax/FieldFacetController.js"></script>
        <script type="text/javascript" src="js/eac-ajax/SearchBoxController.js"></script>
        <script type="text/javascript" src="js/eac-ajax/SearchHistoryController.js"></script>
        <script type="text/javascript" src="js/eac-ajax/SolrSearchService.js"></script>
        <script type="text/javascript" src="js/eac-ajax/Utils.js"></script>
        <script type="text/javascript" src="js/eac-ajax/app-documentsearch.js"></script>

        <script type="text/javascript" src="js/d3/d3.min.js"></script>
        <script type="text/javascript" src="js/d3/d3.layout.min.js"></script>
        <script type="text/javascript" src="js/rickshaw/rickshaw.min.js"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

        <!-- page-header -->
        <header id="page-header">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner" style="padding:0;">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand-title" href="#">EAC-CPF Search</a>
                        <div class="nav-collapse collapse">
                            <p class="navbar-text pull-right">
                                Logged in as <a href="#" class="navbar-link">Username</a>
                            </p>
                            <ul class="nav">
                                <li class="active"><a href="#">Documents</a></li>
                                <li><a href="images.html">Images</a></li>
                                <li><a href="locations.html">Locations</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /page-header -->

        <!-- search bar -->
        <section id="search-bar">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2 column-240">&nbsp;</div>
                    <div class="span5">
                        <form class="form-inline" ng-controller="SearchBoxController" ng-init="init()" ng-submit="submit()">
                            <div id="search-box" class="input-append">
                                <input type="text" id="query" name="q" ng-model="userquery" placeholder="Enter keywords to search for" ui-items="getHints(userquery)" auto-complete autocomplete="off" style="width:380px" />
                                <button class="btn" ng-click="submit()">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="span5">&nbsp;</div>
                </div>
            </div>
        </section>
        <!-- /search-bar -->

        <!-- content -->
        <section id="content">
            <div class="container-fluid">
                <div class="row-fluid">

                    <!-- search panel -->
                    <div id="search-panel" class="span2 column-240 bs-docs-sidebar">

                        <!-- facet selection controller -->
                        <ul class="facet-panel" ng-controller="FacetSelectionController" ng-show="facets.length>0" ng-cloak>
                            <li><b>Filtering By</b></li>
                            <li>
                                <ul class="items unstyled">
                                    <li ng-repeat="facet in facets">
                                        <i class="icon-tag"></i>
                                        <a ng-click="remove($index)">
                                            <span class="fieldname">{{facet.field}}:</span>
                                            <span class="value">{{facet.value}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /facet selection controller -->

                        <!-- function facet controller -->
                        <ul class="facet-panel" ng-controller="FieldFacetController" ng-init="init('function')" ng-cloak>
                            <li><b>Function</b></li>
                            <li>
                                <ul class="facets unstyled">
                                    <li ng-repeat="item in items" ng-show="items">
                                        <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value}}</a></span>
                                        <span class="facet-score">({{item.score}})</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- function facet controller -->

                        <!-- type facet controller -->
                        <ul class="facet-panel" ng-controller="FieldFacetController" ng-init="init('type')" ng-cloak>
                            <li><b>Type</b></li>
                            <li>
                                <ul class="facets unstyled">
                                    <li ng-repeat="item in items" ng-show="items">
                                        <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value}}</a></span>
                                        <span class="facet-score">({{item.score}})</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /type facet controller -->

                        <!-- location facet controller -->
                        <ul class="facet-panel" ng-controller="FieldFacetController" ng-init="init('region')" ng-cloak>
                            <li><b>Region</b></li>
                            <li>
                                <ul class="facets unstyled">
                                    <li ng-repeat="item in items" ng-show="items">
                                        <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value}}</a></span>
                                        <span class="facet-score">({{item.score}})</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /location facet controller -->

                        <!-- date range facet controller -->
                        <ul class="facet-panel" ng-controller="DateFacetController" ng-init="init('fromDate','toDate')" ng-cloak>
                            <li><b>Dates</b></li>
                            <li>
                                <form class="unstyled" ng-submit="submit()" style="margin-bottom:0px;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="font-size:small">From</td>
                                            <td style="font-size:small">To</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-right: 10px;">
                                                <input id="fromDate" name="startDate" class="year-input" type="text" ng-model="startDate" size="4" />
                                            </td>
                                            <td class="pull-right">
                                                <input id="toDate" name="endDate" class="year-input" type="text" ng-model="endDate" size="4" />
                                            </td>
                                        </tr>
                                    </table>
                                    <button>Submit</button>
                                    <!--
                                    <label for="fromDate">From</label>
                                    <label for="toDate">To</label>
                                    -->
                                </form>
                            </li>
                        </ul>
                        <!-- /date range facet controller -->

                        <!-- search history panel -->
                        <ul class="facet-panel" ng-controller="SearchHistoryController">
                            <li><b>Search History</b></li>
                            <li>
                                <ul class="unstyled">
                                    <li ng-repeat="query in queries">
                                        <a ng-href="{{query.getUrl()}}">{{query.getUserQuery()}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /search history panel -->

                    </div>
                    <!-- /search panel -->

                    <!-- result panel -->
                    <div id="result-panel" class="span5" ng-controller="DocumentSearchResultsController" ng-init="itemsPerPage=6;init();">
                        <div id="search-results" class="column-512" ng-cloak>
                            <div class="alert alert-error" ng-show="error">{{error}}</div>
                            <div class="alert alert-info" ng-show="message">{{message}}</div>
                            <article ng-repeat="doc in documents" class="document">
                                <a ng-href="{{doc.referrer_uri}}" class="title">{{doc.title}}</a>
                                <div class="source">{{doc.referrer_uri}}</div>
                                <div class="text">{{doc.abstract}}</div>
                                <div class="inline">
                                    <span class="region" ng-show="doc.region">{{doc.region}}</span>
                                    <span class="country" ng-show="doc.country">{{doc.country}}</span>
                                    <div class="existdates">
                                        <span>{{doc.fromDate}}</span>
                                        <span ng-show="doc.toDate">to</span>
                                        <span>{{doc.toDate}}</span>
                                    </div>
                                </div>
                            </article>
                        </div><!-- /search results -->
                        <div class="search-results-pager pagination" ng-hide="error">
                            <ul>
                                <li ng-repeat="page in pages" ng-class="{active:page.isActive,disabled:page.isDisabled}">
                                    <a id="page-{{page.number}}" ng-click="$parent.setPage(page.number)">{{page.name}}</a>
                                </li>
                            </ul>
                        </div><!-- /pagination -->
                    </div>
                    <!-- /result panel -->

                    <!-- metadata panel -->
                    <div id="metadata-panel" class="span5" ng-show="sidebar">
                        <div class="column-320 pull-right">
                            <p>This is an optional metadata or document preview panel.</p>
                            <div id="graphics"></div>
                            <table class="table table-hover table-condensed" style="width:100%">
                                <thead><tr><th>Option</th><th>Value</th></tr></thead>
                                <tbody>
                                    <tr><td>Fields</td><td>{{ fields }}</td></tr>
                                    <tr><td>Items Per Page</td><td>{{ itemsPerPage }}</td></tr>
                                    <tr><td>Max Result Score</td><td>{{ queryMaxScore }}</td></tr>
                                    <tr><td>Page (start)</td><td>{{ page }}</td></tr>
                                    <tr><td>Pages per Set</td><td>{{ pagesPerSet }}</td></tr>
                                    <tr><td>Query</td><td><a ng-href="{{query.getUrl()}}" target="_blank">{{ query.getUserQuery() }}</a></td></tr>
                                    <tr><td>Query Time</td><td>{{ queryTime }}</td></tr>
                                    <tr><td>Total Items Found</td><td>{{ queryNumFound }}</td></tr>
                                    <tr><td>Total Pages</td><td>{{ totalPages }}</td></tr>
                                    <tr><td>Total Sets</td><td>{{ totalSets }}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /metadata panel -->

                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </section>
        <!-- /content -->

        <!-- footer -->
        <footer id="footer">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div>
                        EAC-CPF faceted search interface to Apache Solr.
                        A project of the
                        <a href="http://www.esrc.unimelb.edu.au/">eScholarship Research Centre</a>, University of Melbourne.
                    </div>
                </div>
            </div>
        </footer>
        <!-- /footer -->

        <!-- view specific scripts -->
        <script type="text/javascript">
            // calendar widget
            // @todo Need to check if the datepicker has already been initialized for the specified items
            // $('#fromDate').datepicker();
            // $('#toDate').datepicker();
            // metadata graphic display
            var data = [40,35,32,29,24,16,9,2];
            var chart = d3.select("#graphics").append("div").attr("class","chart");
            chart.selectAll("div")
                    .data(data)
                    .enter()
                    .append("div")
                    .style("width", function(d) { return d * 5 + "px"; })
                    .text(function(d) { return d; });
        </script>

    </body>
</html>
