<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="ngSolr">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <title>Search Interface to Apache Solr/Lucene</title>
    <meta name="author" content="Davis Marques">
    <meta name="description" content="Faceted search interface to Apache Solr/Lucene">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- STYLES -->
    <% _.forEach(vendor.css, function(url) { %>
    <link rel="stylesheet" type="text/css" href="<%= url %>"/>
    <% }); %>
    <% _.forEach(app.css, function(url) { %>
    <link rel="stylesheet" type="text/css" href="<%= url %>"/>
    <% }); %>

    <!-- SCRIPTS -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% _.forEach(vendor.js, function(url) { %>
    <script src="<%= url %>"></script>
    <% }); %>
    <% _.forEach(app.js, function(url) { %>
    <script src="<%= url %>"></script>
    <% }); %>
</head>
<body>

<div class="container-fluid">

    <div id="header" class="row">
        <div class="col-lg-2">
            <h4><%= pkg.name %></h4>
        </div>
        <div class="col-lg-10">
            <ul class="inline">
                <li><a href="/documents">Documents</a></li>
                <li><a href="/images">Images</a></li>
                <li><a href="/locations">Locations</a></li>
            </ul>
        </div>
    </div>

    <div id="searchbar" class="row">
            <div class="col-lg-2">&nbsp;</div>
            <div class="col-lg-10">
                <searchbox id="searchbox"
                           data-near-match="true"
                           data-placeholder="placeholder"
                           data-search-hints-field="hints"
                           data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                           ng-cloak>
                </searchbox>
                <!--<form ng-controller="SearchBoxController"-->
                <!--ng-submit="handleSubmit()"-->
                <!--role="form"-->
                <!--class="form form-inline"-->
                <!--data-near-match="true"-->
                <!--data-search-hints-field="hints"-->
                <!--data-source="https://data.esrc.unimelb.edu.au/solr/FACP">-->
                <!--<div class="input-group">-->
                <!--<input name="q" type="text" class="form-control" placeholder="Keyword or placename" ng-model="userquery" searchbox/>-->
                <!--<div class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default" ng-click="handleSubmit()">-->
                <!--<i class="fa fa-fw fa-search"></i>&nbsp;-->
                <!--Search</button>-->
                <!--<button type="button" class="btn btn-default" ng-click="showAdvancedOptions()">-->
                <!--<i class="fa fa-caret-down"></i>-->
                <!--</button>-->
                <!--</div>-->
                <!--</div>-->
                <!--</form>-->
            </div>
        </div>

    <div id="content" class="row">
        <div class="col-lg-2">

            <div class="panel panel-default"
                data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                ng-controller="FacetSelectionController"
                ng-show="items.length>0"
                ng-cloak>
                <div class="panel-heading">Filtering By</div>
                <div class="panel-body">
                    <ul class="items unstyled">
                        <li class="facet" ng-repeat="item in items">
                            <i class="fa fa-tag"></i>
                            <a ng-click="remove($index)">
                                <span class="value">{{item | prettyFacetLabel | swapFacetLabels}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default"
                ng-controller="FieldFacetController"
                ng-hide="selected && exclusive"
                data-exclusive="true"
                data-field="region"
                data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                ng-cloak>
                <div class="panel-heading">State</div>
                <div class="panel-body">
                    <ul class="facets unstyled">
                        <li ng-repeat="item in items" ng-show="items">
                            <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value}}</a></span>
                            <span class="facet-score" ng-show="item.score">({{item.score}})</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Check why ngHide is not evaluating correctly. When selected (false/true) && exclusive(false), it evaluates to true. Using false as default.-->
            <div class="panel panel-default"
                ng-controller="FieldFacetController"
                ng-hide="selected && false"
                data-exclusive="false"
                data-field="function"
                data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                ng-cloak>
                <div class="panel-heading">Function</div>
                <div class="panel-body">
                    <ul class="facets unstyled">
                        <li ng-repeat="item in items" ng-show="items">
                            <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value}}</a></span>
                            <span class="facet-score" ng-show="item.score">({{item.score}})</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default"
                ng-controller="FieldFacetController"
                ng-hide="selected && exclusive"
                data-exclusive="false"
                data-field="localtype"
                data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                ng-cloak>
                <div class="panel-heading">Type</div>
                <div class="panel-body">
                    <ul class="facets unstyled">
                        <li ng-repeat="item in items" ng-show="items">
                            <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value |
                                cleanFacetLabel }}</a></span>
                            <span class="facet-score" ng-show="item.score">({{item.score}})</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="date-range-panel"
                class="panel panel-default"
                ng-controller="DateFacetController"
                data-start-date-field="fromDate"
                data-end-date-field="toDate"
                data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                ng-cloak>
                <div class="panel-heading">Dates</div>
                <div class="panel-body">
                    <div id="date-histogram" ng-controller="DateFacetHistogramController"></div>

                    <form class="form-horizontal" ng-submit="submit()" style="margin-bottom:0px;">
                        <div id="date-range-histogram"></div>
                        <table class="table-horizontal">
                            <tr>
                                <td style="font-size:small">
                                    <div class="input-prepend">
                                        <span class="add-on">From</span>
                                        <input id="fromDate" name="startDate" class="year-input" type="text"
                                               ng-model="startDate" size="4"/>
                                    </div>
                                </td>
                                <td class="pull-right" style="font-size:small;align:right">
                                    <div class="input-prepend pull-right">
                                        <span class="add-on">To</span>
                                        <input id="toDate" name="endDate" class="year-input" type="text"
                                               ng-model="endDate" size="4"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <button style="position: absolute; left: -9999px; width: 1px; height: 1px;">Update</button>
                    </form>
                </div>
            </div>

            <div class="panel panel-default" ng-controller="SearchHistoryController" ng-cloak>
                <div class="panel-heading">Search History</div>
                <div class="panel-body">
                    <ul class="unstyled">
                        <li ng-repeat="query in queries">
                            <a ng-href="{{query.getUrl()}}">{{query.getUserQuery()}}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-lg-10"
             ng-controller="DocumentSearchResultsController"
             data-fields="*"
             data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
             ng-cloak>
            <div class="reading-column">
                <div class="loading" ng-show="loading" ng-cloak>
                    <p>Loading search results ...</p>
                    <img src="/img/ajax-loader-bar.gif" alt="Loading search results"/>
                </div>
                <div class="small" ng-show="documents.length > 0" ng-cloak>
                    <div style="padding-bottom: 20px;">Search Results ({{totalResults}} found)</div>
                    <div class="alert alert-error" ng-show="error">{{error}}</div>
                    <div class="alert alert-info" ng-show="message">{{message}}</div>
                </div>
                <article ng-repeat="doc in documents" class="document" ng-cloak>
                    <a ng-href="{{doc.presentation_url}}" class="title">{{doc.title}}</a>
                    <!--<div class="thumb" ng-show="doc.dobj_proxy_small" style="margin-left:10px;">-->
                    <!--<a ng-href="{{doc.presentation_url}}" class="thumbnail">-->
                    <!--<img ng-src="{{doc.dobj_proxy_small}}" alt="{{doc.title}}" height="64px" width="64px"/>-->
                    <!--</a>-->
                    <!--</div>-->
                    <div class="text">{{doc.abstract | truncate:250 }}</div>
                    <div class="inline text-muted small">
                        <span class="region" ng-show="doc.region">{{doc.region}}</span>
                        <span class="country" ng-show="doc.country">{{doc.country}}</span>
                        <div class="existdates">
                            <span>{{doc.fromDate}}</span>
                            <span ng-show="doc.toDate">&ndash;</span>
                            <span>{{doc.toDate}}</span>
                        </div>
                    </div>
                </article>
                <ul class="pagination" ng-hide="error" ng-cloak>
                    <li ng-repeat="page in pages">
                        <a ng-class="{iscurrent:page.isCurrent}" ng-click="$parent.handleSetPage(page.number)">{{page.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="footer" class="row">
        <div class="col-lg-6">
            <%= title %> - <%= description %>
        </div>
        <div class="col-lg-6 text-right">
            v<%= version %>
        </div>
    </div>

</div>

</body>
</html>
