/**
 * Simple Search default screen styles
 */

searchform {
}
searchform searchbox {
    width: 600px;
}
searchresults .summary {
    font-style: italic;
    padding-bottom: 20px;
}
searchresults .document {
    padding-bottom: 15px;
}
searchresults .document .title a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
searchresults .document .url {
    padding-bottom: 3px;
}
searchresults .document .url a {
    color: green;
    font-size: small;
    text-decoration: none;
}
searchresults .document .thumb {
    float: right;
}
searchresults .document .abstract {
    padding-bottom: 3px;
}
searchresults .meta {
    color: #444;
    font-size: small;
    font-style: italic;
}
searchresults .inline {
    display: inline;
}
searchresults .inline div {
    padding-right: 5px;
}
searchresults .pager {
    padding: 10px 0 10px 0;
}
searchresults .pagination {
    display: block;
    margin: 0 0 5px 0;
}
searchresults .pagination ul {
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
searchresults .pagination ul li {
    display: inline;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
}
searchresults .pagination ul li a {
    border: 1px solid #ddd;
    border-left: none;
    float: left;
    line-height: 20px;
    padding: 4px 12px 4px 12px;
    text-decoration: none;
}
searchresults .pagination ul li:first-child a {
    border-left: 1px solid #ddd;
}
