<form>
    <div id="inputs" class="input-group">
        <input id="query" type="text" placeholder="{{placeHolder}}" ng-model="userQuery" autocomplete="off" />
        <div class="input-group-btn">
            <button id="submit" type="button" class="btn btn-default" ng-click="handleSubmit()">Search</button>
        </div>
    </div>
    <div id="hints" ng-show="showHints">
        <ul id="list">
            <li ng-repeat="hint in hints" ng-mousedown="selectHint($index,true);handleSubmit()" ng-class="{'selected':hint.selected}">
                {{hint.title}}
            </li>
        </ul>
        <div id="message" ng-show="showMessage">{{message}}</div>
    </div>
</form>
