<form class="searchbox">
    <div id="inputs">
        <input id="query" type="text" placeholder="{{placeHolder}}" ng-model="userQuery" autocomplete="off" />
        <input id="submit" name="submit" type="submit" value="search" ng-click="handleSubmit()" />
    </div>
    <div id="hints" ng-show="showHints">
        <ul id="list">
            <li ng-repeat="hint in hints" ng-mousedown="selectHint($index,true);handleSubmit()" ng-class="{'selected':hint.selected}">
                {{hint.title}}
            </li>
        </ul>
        <div id="message" ng-show="showMessage">{{message}}</div>
    </div>
</form>
