/*--------------------------------------------------------*/
/* Find and Connect Screen Styles                         */

.document .region {
    background: #ddd;
    border-radius: 2px;
    color: #555;
    font-size: x-small;
    font-weight: bold;
    padding: 2px 4px 2px 4px;
}

.document .region .act {
    background: #ffd700;
}

.document .region .nsw {
    background: #87ceeb;
}

.document .region .nt {
    background: #ff4500;
}

.document .region .qld {
    background: maroon;
}

.document .region .sa {
    background: red;
}

.document .region .tas {
    background: #006400;
}

.document .region .vic {
    background: navy;
}

.document .region .wa {
    background: #ffd700;
}

.infowindow .thumb {
    float: left;
    height: 64px;
    margin: 0;
    margin-right: 10px;
    overflow: hidden;
    padding: 0;
    width: 64px;
}